{% extends "layout.html" %}

{% block title %}
    Error
{% endblock %}

{% block topnav %}
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Account</a>
    </li>
{% endblock %}

{% block logout %}
    <form class="form-inline my-2 my-lg-0" action="{{ url_for('login') }}" method="post">
        <button class="btn btn btn-outline-light my-2 my-sm-0" type="submit" name="logout">Logout</button>
    </form>
{% endblock %}

{% block body %}
    <p class="text-center m-5 text-danger">{{ message }}</p>
{% endblock %}
