<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand">Chocobooks</a>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                {% block topnav %}
                {% endblock %}
              </ul>
            </div>
            {% block logout %}
            {% endblock %}
        </nav>

        <div class="container mb-5">
            {% block body %}
            {% endblock %}
        </div>

    </body>
</html>
